@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300&display=swap');


[x-cloak] { display: none; }


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #475569;
}

html {
    scroll-behavior: smooth;
}
