@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300&display=swap');

/*
background-image: radial-gradient(circle 2px at top left, rgba(226,226,226, 0.34) 0%, rgba(226,226,226, 0.34) 50%,rgba(201,201,201, 0.24) 50%, rgba(201,201,201, 0.24) 30%,transparent 30%, transparent 50%),linear-gradient(90deg, rgb(22,22,22),rgb(22,22,22))background-size: 20px 20px;
*/
[x-cloak] { display: none; }


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #475569;
}

html {
    scroll-behavior: smooth;
}
.bg-3d {
transform: perspective(1000px) rotateX(30deg) rotateY(0deg) rotateZ(0deg); transform-origin: center center;
}